<!DOCTYPE html>
<html>
<head>
    <title> File Not Found </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

{{> header}}

<div id="container">
    <div id="content">
        <h1 id="title"> 404 </h1>
        <p> Sorry, file not found </p>
    </div>
</div>

</body>
</html>
