<!DOCTYPE html>
<html>
<head>
    <title> Welcome! </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

{{> header}}

<div id="container">
    <div id="content">
        <h1 id="title"> Welcome {{fName}} {{lName}}!</h1>
        <p> Go to your profile <a href="/profile/{{idNum}}">here</a></p>
    </div>
</div>

</body>
</html>
